body{
    margin: 0;
}
.menu-item{
    padding: 15px;
    background-color: aqua;
    border: 1px solid black;
}

.menu-item:last-child{
    margin-right: 15px;
}
nav{
    background-color: brown;
        border: 1px solid black;
        top: 0px;
        position: sticky;
}
.fotoslider{
    width: 100%;
}
.menu-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 10px;
    margin-right: auto;
}
.icons-logout:hover, a:hover {
    color: red;
}
.slider{
      position: relative;
}
    .paragrafcentrat{
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    
    }
    .textcentrat{
        border: 1px solid black;
        color: yellow;
        background-color: aqua;
    }