/*Aquesta es la tipografia de la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*Definicio variables*/
:root {
    /*Colors*/
    --color-fons-item: aqua;
    --color-fons-titol: #3247c8;
    --color-titol-principal: #ffc200;
    --color-menu-enllaç-hover: red;
    --color-fons-menu: brown;
    /*Tamany titols*/
    --tamany-titol-principal: 3rem;
    --tamany-titol-h2: 2.4rem;
    --tamany-titol-h2: 2rem;
    --tamany-titol-h3: 2rem;
    --tamany-titol-h4: 1.6rem;
    --tamany-titol-h5: 1.3rem;
    --tamany-titol-h6: 1.1rem;
    /*Textos normal*/
    --tamany-text: 1rem;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
/*Tamany textos aplicat*/
p, a {
    font-size: var(--tamany-text);
}
h1 {
    font-size: var(--tamany-titol-principal);
}
h2 {
    font-size: var(--tamany-titol-h2);
}
h3 {
    font-size: var(--tamany-titol-h3);
}
h4 {
    font-size: var(--tamany-titol-h4);
}
h5 {
    font-size: var(--tamany-titol-h5);
}
h6 {
    font-size: var(--tamany-titol-h6);
}

html{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}
.menu-item{
    padding: 15px;
    background-color: var(--color-fons-item);
    border: 1px solid black;
}

.menu-item:last-child{
    margin-right: 15px;
}
nav{
    background-color: var(--color-fons-menu);
        border: 1px solid black;
        top: 0;
        position: sticky;
        z-index: 2000;
}

/*Aquests son els estils del menu */
.menu-container{
    position: sticky;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 10px;
    margin-right: auto;
    z-index: 1000;
}
.icons-logout:hover, a:hover {
    color: var(--color-menu-enllaç-hover);
}
/*Definim la posicio i els estils de la foto gran del principi*/
.slider{
      position: relative;
}
    .paragrafcentrat{
    position: absolute;
    top: 550px;
    left: 12px;
    height: 100%;

    }
.fotoslider{
    width: 100%;
}
.paragrafcentrat h1{
    border: 1px solid black;
    color: var(--color-titol-principal);
    background-color: var(--color-fons-titol);
    padding: 5px 10px;
    margin: 0;
    font-weight: bold;
    font-size: var(--tamany-titol-principal);
}
.paragrafcentrat p{
    color: var(--color-titol-principal);
    margin: 5px 0 0 0;
    background-color: var(--color-fons-titol);
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
}
.info{
    margin: 20px 50px 20px 50px;
}
.chatbot{
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
    padding: 0.8rem 1rem;
    border-radius: 20px;

}
.chatbot{
    background-color: rgb(203, 203, 40);
}
/*Estils seccio nosaltres*/
.nosaltres-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}
.nosaltres-info img{
    width: 40%;
    height: 50%;

}
.infonosaltres{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: aqua;
}
.infonosaltres img{
    border-radius: 10px;
}
/*Estils seccio menu*/
.menu-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}