/*Aquesta es la tipografia de la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*Definicio variables*/
:root {
    /*Colors*/
    --color-fons-item: aqua;
    --color-fons-titol: #3247c8;
    --color-titol-principal: #ffc200;
    --color-menu-enllaç-hover: red;
    --color-fons-menu: brown;
    /*Tamany titols*/
    --tamany-titol-principal: 3rem;
    --tamany-titol-h2: 2.4rem;
    --tamany-titol-h3: 2rem;
    --tamany-titol-h4: 1.6rem;
    --tamany-titol-h5: 1.3rem;
    --tamany-titol-h6: 1.1rem;
    /*Textos normal*/
    --tamany-text: 1rem;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
/*Tamany textos aplicat*/
p, a {
    font-size: var(--tamany-text);
}
h1 {
    font-size: var(--tamany-titol-principal);
}
h2 {
    font-size: var(--tamany-titol-h2);
}
h3 {
    font-size: var(--tamany-titol-h3);
}
h4 {
    font-size: var(--tamany-titol-h4);
}
h5 {
    font-size: var(--tamany-titol-h5);
}
h6 {
    font-size: var(--tamany-titol-h6);
}

html{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}
.menu-item{
    padding: 15px;
    background-color: var(--color-fons-item);
    border: 1px solid black;
}

.menu-item:last-child{
    margin-right: 15px;
}
nav{
    background-color: var(--color-fons-menu);
        border: 1px solid black;
        top: 0;
        position: sticky;
        z-index: 2000;
}

/*Aquests son els estils del menu */
.menu-container{
    position: sticky;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 10px;
    margin-right: auto;
    z-index: 1000;
}
.icons-logout:hover, a:hover {
    color: var(--color-menu-enllaç-hover);
}
/*Definim la posicio i els estils de la foto gran del principi*/
.slider{
      position: relative;
}
    .paragrafcentrat{
    position: absolute;
    top: 550px;
    left: 12px;
    height: 100%;

    }
.fotoslider{
    width: 100%;
}
.paragrafcentrat h1{
    border: 1px solid black;
    color: var(--color-titol-principal);
    background-color: var(--color-fons-titol);
    padding: 5px 10px;
    margin: 0;
    font-weight: bold;
    font-size: var(--tamany-titol-principal);
}
.paragrafcentrat p{
    color: var(--color-titol-principal);
    margin: 5px 0 0 0;
    background-color: var(--color-fons-titol);
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
}
.info{
    margin: 20px 50px 20px 50px;
}
.chatbot{
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
    padding: 0.8rem 1rem;
    border-radius: 20px;

}
.chatbot{
    background-color: rgb(203, 203, 40);
}
/*Estils seccio nosaltres*/
.nosaltres-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0px 0px 0px
}
.nosaltres-info img{
    width: 40%;


}
/*Estils  caixa*/
.infonosaltres{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: aqua;
}
.infonosaltres img{
    border-radius: 10px;
}
/*Estils seccio menu*/
.menu-info-container h2{
    display: grid;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}
/*Contenidor amb tot el grid de la seccio*/
.container-menu{
    display:  grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "el el2 el2";
    gap: 15px;
                         
}

/*Columna esquerra*/
.el{
    grid-area: el;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 0px 20px 30px 0px; 
    text-align: center;
    border-radius: 10px;
}
/*Columna dreta*/

.el2{
    grid-area: el2;    
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
}
.el2 .container{
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    row-gap: 10px;
}
.el3{
    grid-area: el3;
    margin: 20px 0px 0px 0px;
    
}
.foto {
    position: relative;
    display: inline-block;
    margin: 0px 10px 0px 0px ;
}

.mostra {
    width: 100%;
    display: block;
}
/*Estils overlays*/
/*primer*/
.overlay1 {
    position: absolute;
    bottom: 0;               
    left: 0;
    width: 100%;             
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 20px;
    padding: 10px 0;         
    text-align: center;      
    opacity: 0;              
    transition: 0.5s ease;   
    margin: 0;
}
/*Efecte hover menu*/
.container {
    position: relative;
    display: inline-block;
}
/* Overlay */
 
/* Aparece al pasar el mouse */
.foto:hover .overlay1 {
    opacity: 100%;
}
/*Segon*/
.overlay2 {
    position: absolute;
    bottom: 0;               
    left: 0;
    width: 100%;             
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 20px;
    padding: 10px 0;         
    text-align: center;      
    opacity: 0;              
    transition: 0.5s ease;   
    margin: 0;
}
/*Efecte hover menu*/
/* Overlay */

/* Aparece al pasar el mouse */
.foto:hover .overlay2 {
    opacity: 100%;
}
/*estils galeria*/
.titolgaleria {
    margin: 20px 50px 20px 50px;
}
.Galeria {
    width: 20%;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    min-width: 200px;
    
}
.Galeria:hover{
    border-radius: 10px;
    border: 1px solid rgba(12, 148, 118, 0.562);
    opacity: 0.3;
}
.fila1{

    margin: 0px 0px 10px 0px;
}

.fila1, .fila2 {
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}
.fila1 img:nth-child(1),
.fila1 img:nth-child(4),
.fila2 img:nth-child(1),
.fila2 img:nth-child(4){
    opacity: 0.3;
}
/*Estils formulari*/
.form-container{
    display: flex;       
    gap: 20px;             
    justify-content: center;
    margin: 20px 0px 0px 0px
}
.fila {
    display: flex;         
    gap: 20px;             
    margin: 0px 0px 15px 0px;
}

.columna {
    display: flex;
    flex-direction: column; 
    gap: 5px;               
    flex: 1;               
}
input {
    padding: 15px;
}
label{
    display: block;
    margin: 0px 0px 5px 0px;
}
.columna label input{
    gap: 10px;
}
textarea {
    width: 100%;        
    box-sizing: border-box; 
    padding: 8px;       

}
button{
   display: block;
   margin: 5px 0px 0px auto;
   padding: 10px;
   align-items: flex-end;
   border-radius: 20px;
   background-color: aqua;
}
button:hover{
    background-color: brown;
}
/*Estils footer*/
/*Sense aixo no puc canviar de color el SVG*/
svg{
  fill: red;
  width: 48px;
  height: 48px;
  margin: 0px 0px 0px 10px;
}
.info-container{
        display: flex;
    flex-direction: row;
    gap: 5px;               
        align-items: center;
}
.dalt {
    display: flex;
    margin-left: auto;
}
/*Estils pagina confirmat*/
.textconfirmat{
    text-align: center;
}
/*Media querys activitat 10*/
/*Amplada 576px*/
@media(max-width: 576px){
    /*Estils menu*/
    .menu-container{
        flex-direction: column;
        align-items: center;
    }
    .menu-item{
        width: 50%;
        text-align: center;
    }
    .menu-item:nth-child(3){
        margin: 0;
    }
    /*Text gran slider fora*/
    .paragrafcentrat{
        display: none;
    }
    /*Chatbot FORA*/
    .chatbot{
        display: none;
    }
    /*Aliniem el footer*/
    .info-container{
        flex-direction: row;
        justify-content: center;
    }
    /*SVG footer dreta fora*/
    .dalt{
        display: none;
    }
    .info-container a {
        margin: 0px 0px 0px 10px;
    }
    /*canvis formulari*/
    .form-container{
        button{
            margin: 15px auto 15px auto;
            width: 100%;
            border-radius: 0;
        }
    }

}